{
  "singleQuote": true,
  "semi": false,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss",
    "prettier-plugin-classnames",
    "prettier-plugin-merge"
  ],
  "importOrder": ["<THIRD_PARTY_MODULES>", "^[./]"],
  "endingPosition": "absolute-with-indent",
  "tailwindFunctions": ["clsx"]
}
